PORT=3001
API_PREFIX=api
JWT_SECRET=coloque-uma-chave-grande-e-segura-aqui
JWT_EXPIRES_IN=3600
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eloc?schema=public"
UPLOADS_LOCAL_ROOT=uploads
UPLOADS_PUBLIC_BASE_URL=http://localhost:3001/uploads
UPLOADS_MAX_PRODUCT_IMAGE_SIZE_BYTES=5242880
UPLOADS_STORAGE_PROVIDER=local
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=product-images
SUPABASE_STORAGE_PUBLIC_BASE_URL=
